/* Add padding around the entire publications page */
.page-id-publications {
    /*box-sizing: border-box;*/
    padding: 2rem 2rem; /* Adjust the padding as needed */
    font-size: 1.1rem; /* Optional: Adjust text size for readability */
    line-height: 1.6; /* Improves line spacing */
    max-width: 70vw;
    width: 60vw; 
    margin: 1.5rem 3rem; 
}

/* Keep images uniform in size */
/* .page-id-publications img {
    max-width: 80%; 
    height: auto;
    display: block;
    margin: 1.5rem auto; 
} 
*/
.page-id-publications img {
    max-width: 100%; /* Ensures all images fit within 80% of container */
    width: 50vw;
    height: auto; /* Maintains aspect ratio */
    object-fit: cover;
    display: block;
    margin: 1.5rem auto; /* Centers images and adds space */
}